<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-light">Esteban Jobs - <%= current_user.role if user_signed_in? %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= button_to 'Cerrar sesión', destroy_user_session_path, class: 'btn nav-link text-light', method: :delete %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link text-light'%>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Registro', new_user_registration_path, class: 'nav-link text-light'%>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to 'Jobs', jobs_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'editar datos', edit_user_registration_path, class: 'nav-link text-light' %>
                </li>
            </ul>
        </div>
    </div>
</nav>
